# server
PORT=4000

# Database
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>
REDIS_URL=redis://[username:password]@[host]:[port]/[database]

# Jwt
JWT_ACCESS_SECRET="123456"
JWT_REFRESH_SECRET="654321"
